<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration SYSTEM "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">
            jdbc:postgresql://ec2-54-217-235-137.eu-west-1.compute.amazonaws.com:5432/d9iae62bnkqsr0?sslmode=require
        </property>
        <property name="hibernate.connection.username">dnahqmysygrioz</property>
        <property name="hibernate.connection.password">f740e8c1f949ece81a01db1231563400abf0d27cae696c4165a73748f39a2fa3</property>

        <!-- List of XML mapping files -->
        <mapping resource="DataBaseConnect.hbm.xml"/>
        <mapping resource="DataBasePassword.hbm.xml"/>

    </session-factory>
</hibernate-configuration>