<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Person</title>
</head>
<body>

<form th:action="@{/addPerson}" th:object="${personForm}" method="POST">
    First Name:
    <label>
        <input type="text" th:field="*{firstName}" required minlength="2" maxlength="50" placeholder="max 50 characters"/>
    </label>
    <br/>
    Last Name:
    <label>
        <input type="text" th:field="*{lastName}" required minlength="2" maxlength="50" placeholder="max 50 characters"/>
    </label>
    <br/>
    Email:
    <label>
        <input type="text" th:field="*{email}" required minlength="2" maxlength="50" placeholder="max 50 characters"/>
    </label>
    <br/>
    <input type="submit" value="Add" />
    <label>
        <input type="reset" value="Clear" />
    </label>
</form>
<br>
<div th:if="${errorMessage}" th:utext="${errorMessage}"
     style="color:red;font-style:italic;">
    ...
</div>
</body>
</html>