<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>ABOUT ME</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<style>
    #a{
        font-size: 110%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url("underwater.jpg");
    }
</style>
<body id="a">
<nav>
    <strong>
        <a th:href="start_page" title="Return to the start page">Start Page</a>&nbsp&nbsp
            <button type="button" value="Download CV" onClick="passWord()">Download CV</button>
    </strong>
</nav>
<hr>
<article>
    The program generates 100K random lines, the lines are divided into the entered data and queries. Data types have three subtypes. Step by step, all queries looking for matches of types, when the type is matched - counts the points.<br>
    Github: <a href="https://github.com/AlexeevAlexandr/DemoTool" target="_blank">https://github.com/AlexeevAlexandr/DemoTool</a><br>
    <br>
    The program is based on Spring Boot, Thymeleaf, JPA, Hibernate, lombok.<br>
    This is a website, it has several pages. On one of the pages there is a table, user can insert, view and clear data, table interacts with sql database.<br>
    Github: <a href="https://github.com/AlexeevAlexandr/SpringBoot" target="_blank">https://github.com/AlexeevAlexandr/SpringBoot</a><br>
    <br>
    Created connector to SQL databases using JDBC (program allows user connect to database, view list, write, change, delete data, has own help list, which describes the commands and how to use them)<br>
    Github: <a href="https://github.com/AlexeevAlexandr/SQLProject" target="_blank">https://github.com/AlexeevAlexandr/SQLProject</a><br>
    <br>
    Programs based on JavaFX and Swing, using different buttons, labels, tooltips, menu, submenu, effects, event handling.<br>
    Github: <a href="https://github.com/AlexeevAlexandr/demo/tree/master/src/JavaFX" target="_blank">https://github.com/AlexeevAlexandr/demo/tree/master/src/JavaFX</a>,
    <a href="https://github.com/AlexeevAlexandr/demo/tree/master/src/swing" target="_blank">https://github.com/AlexeevAlexandr/demo/tree/master/src/swing</a><br>
    <br>
    Programs that can interact with files — including CSV. This program reads the file, performs some changes in the data and writes it to a file.<br>
    Github: <a href="https://github.com/AlexeevAlexandr/demo/blob/master/src/POJO_CSV.java" target="_blank">https://github.com/AlexeevAlexandr/demo/blob/master/src/POJO_CSV.java</a><br>
    <br>
    Creating tests program that shows questions to the user — user gives answers — program calculates points.<br>
    Github: <a href="https://github.com/AlexeevAlexandr/demo/blob/master/src/TestUser.java" target="_blank">https://github.com/AlexeevAlexandr/demo/blob/master/src/TestUser.java</a><br>
    <br>
    Within the training was created a part of the program for working with the bank account.<br>
    Github: <a href="https://github.com/AlexeevAlexandr/demo/blob/master/src/AccountMaangerTraining/AccountManager.java" target="_blank">https://github.com/AlexeevAlexandr/demo/blob/master/src/AccountMaangerTraining/AccountManager.java</a><br>
    <br>
    Where I study programming languages::<br>
    <a href="https://www.w3schools.com/" target="_blank">w3schools</a><br>
    2017-2018 <a href="https://juja.com.ua/" target="_blank">Juja Online training center</a>. Achieved qualification Java Developer.<br>
    <br>
    Where I train:<br>
    Hackerrank, Codewars, Codility and some own projects.<br>
</article>
<hr>
<p style="text-align: center">You can download or print CV using the button at the top of the page</p>
<hr>
<SCRIPT>
    function passWord() {
        var testV = 1;
        var pass1 = prompt('Please Enter Your Password');
        while (testV < 3) {
            if (pass1.toLowerCase() === "123") {
                window.open('Alexandr_Alexeev_Java_Developer.pdf');
                break;
            }
            testV ++;
            pass1 = prompt('Access Denied - If you haven\'t a password, make a request from the FAQ form');
        }
        if (pass1.toLowerCase()!=="password" && testV ===3)
            history.go(0);
    }
</SCRIPT>
</body>
</html>