<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>ABOUT ME</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<body>
<header>My CV</header>
<hr>
<nav>
    <a href="start_page">Start Page</a>
    <a th:href="Alexandr_Alexeev_Java_Developer.pdf" target="_blank">Download CV</a>
</nav>
<hr>
<article>
    <h1 style="text-align: center">About myself</h1>
    <h4>My projects:</h4>
    The program is based on Spring Boot, Thymeleaf, JPA, Hibernate, lombok.<br>
    This is a website, it has several pages. On one of the pages there is a table, user can insert, view and clear data, table interacts with sql database.<br>
    Github: <a href="https://github.com/AlexeevAlexandr/SpringBoot" target="_blank">https://github.com/AlexeevAlexandr/SpringBoot</a><br>
    <br>
    Created connector to SQL databases using JDBC (program allows user connect to database, view list, write, change, delete data, has own help list, which describes the commands and how to use them)<br>
    Github: <a href="https://github.com/AlexeevAlexandr/SQLProject" target="_blank">https://github.com/AlexeevAlexandr/SQLProject</a><br>
    <br>
    Programs based on JavaFX and Swing, using different buttons, labels, tooltips, menu, submenu, effects, event handling.<br>
    Github: <a href="https://github.com/AlexeevAlexandr/demo/tree/master/src/JavaFX" target="_blank">https://github.com/AlexeevAlexandr/demo/tree/master/src/JavaFX</a>,
    <a href="https://github.com/AlexeevAlexandr/demo/tree/master/src/swing" target="_blank">https://github.com/AlexeevAlexandr/demo/tree/master/src/swing</a><br>
    <br>
    Programs that can interact with files — including CSV. This program reads the file, performs some changes in the data and writes it to a file.<br>
    Github: <a href="https://github.com/AlexeevAlexandr/demo/blob/master/src/POJO_CSV.java" target="_blank">https://github.com/AlexeevAlexandr/demo/blob/master/src/POJO_CSV.java</a><br>
    <br>
    Creating tests program that shows questions to the user — user gives answers — program calculates points.<br>
    Github: <a href="https://github.com/AlexeevAlexandr/demo/blob/master/src/TestUser.java" target="_blank">https://github.com/AlexeevAlexandr/demo/blob/master/src/TestUser.java</a><br>
    <br>
    Within the training was created a part of the program for working with the bank account.<br>
    Github: <a href="https://github.com/AlexeevAlexandr/demo/blob/master/src/AccountMaangerTraining/AccountManager.java" target="_blank">https://github.com/AlexeevAlexandr/demo/blob/master/src/AccountMaangerTraining/AccountManager.java</a><br>
    <br>
    Creating integration tests, JUNIT tests, tests with Mockito.<br>
    Has acquired skills of understanding OOP, processing Exceptions, Collection Framework, connection third-party libraries using POM file or downloaded libraries from a file.<br>
    Work with matrix, multithreaded programming, package IO and NIO (input — output data).<br>
    Trained at Hackerrank, Codewars and Codility.<br>
    <br>
    Kontakt Handy LTD (December 2013 — present time)<br>
    Chief Sales and Purchasing Manager. Created and implemented the automation of sales through the site, looked for and studied the demand for new products.<br>
    For the time of my work I acquired the skills to achieve the goal and work in the team.<br>
    <br>
    LANGUAGES<br>
    English — intermediate. Russian, Ukrainian — native.<br>
    <br>
    EDUCATION<br>
    w3schools
    2017-2018 <a href="https://juja.com.ua/" target="_blank">Juja Online training center</a>. Achieved qualification Java Developer.<br>
    2010-2015 <a href="http://www.vtei.com.ua/index.php/ua/" target="_blank">Vinnitsky Trading Economic University. Bachelor’s degree in enterprise economics</a><br>
    <br>
    Personal qualities<br>
    Good Communication skill, flexibility, patient, positive person, team player.<br>
</article>



</body>
</html>