<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/css/page.css}"/>
    <meta charset="UTF-8">
    <title>Page</title>
</head>
<body>
<div id="container">

    <div id="header">Шапка сайта



    </div>



    <div id="navigation">Блок навигации
        <a href="start_page">Start Page</a>


    </div>



    <div id="menu">Меню



    </div>



    <div id="content">Контент



    </div>



    <div id="clear">



    </div>



    <div id="footer">Подвал сайта



    </div>

</div>
</body>
</html>