<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Proposals</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<style>
    #b{
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url("code.jpg");
    }
</style>
<body id="b">
<div>
    <strong>
        <a href="addPerson" title="Registration">Click here to register</a>&nbsp&nbsp
        <a href="start_page" title="Return to the start page">Start Page</a>
    </strong>
    <br>
    <h1>List of registered visitors:</h1>
    <table border="1" style="font-size:150%">
        <tr>
            <th>Id</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Date</th>
        </tr>
        <tr th:each ="person : ${persons}">
            <td th:utext="${person.id}">...</td>
            <td th:utext="${person.firstName}">...</td>
            <td th:utext="${person.lastName}">...</td>
            <td th:utext="${person.email}">...</td>
            <td th:utext="${person.date}">...</td>
        </tr>
    </table>
</div>
<br>
<p>Using the form below, you can write to me a letter </p>
<form action="mailto:alexandralexeevkiev@gmail.com" method="post" enctype="text/plain">
    <label>
        <textarea name="message" rows="10" cols="30"></textarea>
    </label>
    <br>
    <input type="submit" th:value="Send">
    <input type="reset" th:value="Reset">
</form>
</body>
</html>