<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Start Page</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<body>
<header>ABOUT ME</header>
<hr>
<nav>
    <a href="my_cv" title="Link to CV page">My CV</a>
    <a href="page">Page</a>
    <a href="proposals">FAQ</a>
</nav>
<hr>
<img th:src="programming.gif" alt="Computer Man">
<p style="text-align: center">A little about me:</p>
<p>My name's Alexander<br>
    I like coding, because it's very interesting and exciting.<br>
    I like to create interesting things, learn something new improve existing knowledge.<br>
    I started my learning with pure Java and in a while additionally learned Spring, Spring Boot, Hibernate and JDBC.<br>
    After some time i gained experience in front-end part using Thymeleaf, HTML and CSS.<br>
    Currently, I am learning all this deeper, looking for new technologies to improve my knowledge and understanding of programming.<br>
</p>
<p>What i using:<br>
    Java Core, Swing, JavaFX, Spring, Spring Boot, Hibernate, JDBC, lombok<br>
    Thymeleaf, HTML<br>
    Maven, Wildfly<br>
    Github, Docker, Heroku<br>
    JUnit, Mockito<br>
    IntelliJ, NetBeans<br>
    PostgreSQL, MySQL, SQLServer<br>
</p>
<p class="a">It was a brief essay about me.</p>
<p class="a">At the top of the page there is a link to my CV or click
    <a th:href="my_cv" title="Link to CV page">here</a>.</p>
<hr>
<footer style="text-align: center"><i>Made by Java, JDBC, Hibernate, Spring Boot, Thymeleaf, HTML and CSS. Deployed on Heroku.</i></footer>
</body>
</html>