<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Start Page</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<body>
<header>ABOUT ME</header>
<hr>
<nav>
    <a href="my_cv">My CV</a>
</nav>
<hr>
<img th:src="programming.gif" alt="Computer Man">
<p style="text-align: center">A little about me:</p>
<p>My name's Alexander<br>
    I like coding, because it's very interesting and exciting.<br>
    I like to create interesting things, learn something new improve existing knowledge.<br>
    I started my learning with pure Java and in a while additionally learned Spring, Spring Boot, Hibernate and JDBC.<br>
    After some time i gained experience in front-end part using Thymeleaf, HTML and CSS.<br>
    Currently, I am learning all this deeper, looking for new technologies to improve my knowledge and understanding of programming.<br>
</p>
<p>It was a brief essay about me.</p>
<p>At the top of the page there is a link to my CV.</p>
<hr>
<footer style="text-align: center"><i>Made using Java, Spring Boot, Thymeleaf, HTML and CSS. Deployed on Docker.</i></footer>
</body>
</html>