<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Start Page</title>
</head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
    #c{
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        background-image: url("aa.jpg");
    }
    #d{
        font-size: 120%;
    }
</style>
<body id="c">
<nav id="d">
        <a href="about_me" title="About me">About me</a>&nbsp&nbsp
        <a href="page">Page</a>&nbsp&nbsp
        <a href="proposals" title="FAQ">FAQ</a>
</nav>
<h1 style="text-align: center; color: green">Welcome to my site</h1>
<img th:src="programming.gif" alt="Computer Man" style="float: left">
<p style="position: absolute; left: 5%; font-size: 120%">
    This site was created for educational purposes.<br>
    Here you can find some information about me,<br>
    and why I started learning programming languages.<br>
    Using the FAQ page, you can register.<br>
    <br>
    At top of this page is the site navigation.
</p>
<footer style="position: absolute; bottom: 20px; left: 25%"><i>Made by Java, JDBC, Hibernate, Spring Boot, Thymeleaf, HTML and CSS. Deployed on Heroku.</i></footer>
</body>
</html>